* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Baloo 2", cursive;
    scroll-behavior: smooth;
}

:root {
    --yellow: #ffd130;
    --black: #000;
    --brown: #551717;
    --grey: #818181;
    --whitesmoke: #d6d6d6;
    --bg-color: #ffe8c5;
}

.footer {
    width: 100%;
    padding: 2% 0 0 0;
    background-color: var(--bg-color);
}

.footer-grid {
    display: grid;
    padding: 0 5% 0 5%;
    grid-template-columns: 45% 15% 15% 1fr;
    grid-gap: 10px;
}

div[class*="footer-"]>p {
    font-size: 26px;
    color: var(--brown);
    font-weight: 500;
    margin-top: 25px;
}

div[class*="footer-"]>ul {
    margin-top: 25px;
}

div[class*="footer-"]>ul>li {
    list-style: disc;
    margin-left: 20px;
}

div[class*="footer-"]>ul>li>a {
    color: var(--black);
}

.footer-logo {
    padding-right: 40%;
}

.footerlogo-content>p {
    color: var(--black);
    font-size: 16px;
    margin-top: 10px;
}

.share-us>p {
    font-size: 18px;
    margin-top: 10px;
    color: var(--black);
}

.share-us>span {
    width: 100px;
    height: 2.5px;
    background-color: orange;
}

.footerlogo-icons>img {
    margin-top: 10px;
    margin-right: 15px;
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.footend-nav {
    margin-top: 30px;
    width: 100%;
    padding: 0 5%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.footend-nav>p {
    font-size: 10px !important;
}

.footend-nav>p>a {
    font-size: 14px;
    font-weight: 500;
    color: var(--brown);
}

.address-location {
    margin-top: 20px;
}

.address-mail {
    margin-top: 10px;
}

.address-call {
    margin-top: 10px;
}

div[class*="address-"] {
    display: inline-flex;
    align-items: center;
}

div[class*="address-"]>img {
    width: 25px;
    height: 25px;
}

div[class*="address-"]>a {
    color: var(--black);
    font-size: 18px;
    margin-left: 9px;
}

.w-img {
    width: 45px;
    height: 45px;
}

.line-div {
    width: 60px;
    height: 1.5px;
    background-color: var(--brown);
    border-radius: 3px;
}

@media screen and (max-width: 1150px) {
    .footer-grid {
        padding: 0 0% 0 5%;
        grid-template-columns: 40% 15% 15% 1fr;
    }
    .footer-logo {
        padding-right: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .footer-grid {
        grid-template-columns: 27% 20% 20% 1fr;
    }
    .footer-logo {
        padding-right: 0%;
    }
    .second-section-content {
        padding-right: 0;
    }
}

@media screen and (max-width: 800px) {
    .footer-grid {
        padding: 0 0 0 0.5%;
    }
}

@media screen and (max-width: 600px) {
    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    div[class*="footer-"]>ul {
        margin-top: 0px;
    }
    .address-location {
        margin-top: 5px;
    }
    .footend-nav>p>a {
        font-size: 15px;
    }
    .footend-nav {
        padding: 0 1%;
        background-color: #ffcf88;
    }
    .footend-nav>p {
        font-size: 12px;
    }
    .footer-link {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .footer-service {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .footer-address {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .footer-grid {
        padding: 0 2%;
    }
}