:root {
    --fontstyle: "Poppins", sans-serif;
    --heboo: "Heebo", sans-serif;
}

:root {
    --yellow: #ffd130;
    --black: #000;
    --brown: #551717;
    --grey: #818181;
    --whitesmoke: #d6d6d6;
    --bg-color: #ffe8c5;
    --font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}


/* here is fullscreen images  */

.header-about-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.header-about-img>img {
    width: 100%;
    height: 100%;
}


/* here header content  */

.full-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
}

.first-section-contact {
    width: 100%;
    padding: 2% 0 9% 0;
    z-index: 1;
}

.first-section-content-contact {
    padding: 5% 10%;
}

.page_name {
    color: #fff;
    line-height: 1.2;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.page_link {
    color: #ffd130 !important;
    line-height: 1.2 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    font-family: "Roboto", sans-serif;
}

.first-section-content-contact>p>span {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

.contactus-main-section {
    padding: 5% 5%;
}

.contactus-main-section>p {
    font-size: 50px;
    font-weight: 500;
    color: var(--brown);
    text-align: center;
    line-height: 2;
}

.contact-box {
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8%;
}

.boxes {
    box-shadow: 1px 1px 7px 2px #ece7e7;
    border: 1px solid #ece7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 7% 10%;
    transition: 0.5s;
}

.contact-2-box {
    padding: 2% 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15%;
}

.icons-contact>i {
    font-size: 34px;
    color: var(--brown);
    margin-right: 8px;
}

.sub-part-boxes {
    margin-left: 5px;
}

.sub-part-boxes>p:nth-child(1) {
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
}

.sub-part-boxes>p:nth-child(2) {
    font-size: 13px;
    color: #000;
    font-weight: 500;
}

.contact-map-section {
    padding: 5% 10%;
}

@media screen and (max-width: 1300px) {
    .first-section-content-contact {
        padding: 8% 10%;
    }
    .boxes {
        padding: 9% 1%;
    }
}

@media screen and (max-width: 1300px) {
    .boxes {
        padding: 9% 0%;
    }
    .contact-box {
        padding: 2% 2%;
    }
    .contact-2-box {
        padding: 2% 14%;
    }
}

@media screen and (max-width: 1000px) {
    .first-section-content-contact {
        padding: 11% 10%;
    }
    .contact-box {
        grid-gap: 4%;
    }
    .contact-box {
        padding: 3% 2%;
    }
    .contact-2-box {
        padding: 3% 14%;
        grid-gap: 6%;
    }
}

@media screen and (max-width: 800px) {
    .sub-part-boxes>p:nth-child(1) {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .contact-box {
        padding: 3% 0%;
    }
}

@media screen and (max-width: 600px) {
    header {
        min-height: 260px;
    }
    .first-section-content-contact {
        padding: 15% 10%;
    }
    .first-section-content-contact>p {
        font-size: 35px;
    }
    .contactus-main-section>p {
        font-size: 30px;
    }
    .contact-box {
        grid-template-columns: 100%;
        grid-gap: 8%;
        padding: 9% 0;
    }
    .boxes {
        padding: 4% 0%;
    }
    .contact-2-box {
        grid-template-columns: 100%;
        grid-gap: 8%;
        padding: 3% 0%;
    }
}